h1 {
  font-size: 2.125rem;
  color: var(--gray-100);
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -0.125rem;
  margin: 0;
  font-family: 'Inter Tight', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

main {
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  box-sizing: inherit;
  position: relative;
}

.content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-width: 700px;
}

.divider {
  width: 1px;
  background: var(--red-to-pink-to-purple-vertical-gradient);
  margin-inline: 0.5rem;
}

.divider-horizontal {
  height: 1px;
  width: 100%;
  background: linear-gradient(
    90deg,
    var(--bright-blue) 0%,
    var(--electric-violet) 50%,
    var(--vivid-pink) 100%
  );
  margin-block: 1.5rem;
}
