.game-container {
  padding: 1rem;
  width: 100%;
  height: 90vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.game-grid {
  display: grid;
  grid-template-columns: repeat(40, 1fr);
  grid-template-rows: repeat(40, 1fr);
  gap: 0.1rem;
  flex: 1;
  width: 100%;
  height: 100%;
}

.game-button {
  aspect-ratio: 1;
  background: color-mix(in srgb, white 10%, transparent);
  border-radius: 2px;
  color: var(--gray-100);
  font-size: 1rem;
  cursor: pointer;
  box-sizing: border-box;
  padding: 0;
}

.game-button:hover {
  background: color-mix(in srgb, white 50%, transparent);
  transform: scale(1.1);
}

.game-button:active {
  transform: scale(0.9);
}

.game-button.player1 {
  background: color-mix(in srgb, red 50%, transparent);
  color: red;
  border-color: red;
}

.game-button.player2 {
  background: color-mix(in srgb, blue 50%, transparent);
  color: blue;
  border-color: blue;
}

.game-header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  padding: 1rem;
  background: color-mix(in srgb, var(--bright-blue) 5%, transparent);
}

.right-slot {
  display: grid;
  align-items: center;
  justify-items: end;
  min-height: calc(2 * 1.2em * 1.5);
}

.hidden {
  visibility: hidden;
}

.left {
  justify-self: start;
}

.center {
  justify-self: center;
  text-align: center;
}

.right {
  justify-self: end;
}

.captures {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background: color-mix(in srgb, var(--bright-blue) 5%, transparent);
}

.game-header h2 {
  margin: 0;
  color: var(--gray-100);
}
