:root {
  --bright-blue: oklch(51.01% 0.274 263.83);
  --electric-violet: oklch(53.18% 0.28 296.97);
  --french-violet: oklch(47.66% 0.246 305.88);
  --vivid-pink: oklch(69.02% 0.277 332.77);
  --hot-red: oklch(61.42% 0.238 15.34);
  --orange-red: oklch(63.32% 0.24 31.68);

  --gray-900: oklch(19.37% 0.006 300.98);
  --gray-700: oklch(60.81% 0.08492 270.356);
  --gray-200: oklch(80.775% 0.00734 303.828);
  --gray-100: oklch(89.15% 0.02846 303.783);

  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: var(--gray-900);
  color: var(--gray-200);
  margin: 0;
  font-family: Arial, sans-serif;
}

p {
  margin: 0;
  color: var(--gray-200);
}

a {
  color: var(--bright-blue)
}

button {
  background-color: #333;
  color: #fff;
  border: 1px solid #555;
  padding: 8px 16px;
  cursor: pointer;
}

button:hover {
  background-color: #444;
}

.pill {
  display: flex;
  align-items: center;
  --pill-accent: var(--bright-blue);
  background: color-mix(in srgb, var(--pill-accent) 5%, transparent);
  color: var(--pill-accent);
  padding-inline: 0.75rem;
  padding-block: 0.375rem;
  border-radius: 2.75rem;
  border: 0;
  transition: background 0.3s ease;
  font-family: var(--inter-font);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.4rem;
  letter-spacing: -0.00875rem;
  text-decoration: none;
  white-space: nowrap;
}

.pill:hover {
  background: color-mix(in srgb, var(--pill-accent) 15%, transparent);
}
